---
 # Version:     2.1
 # Author:      Robert Rhoades
 # Author URL:  http://studioromeo.co.uk
---

/* Reset + Animations
-------------------------------------------------------------- */
* {
	margin:0;
	padding:0;
	border:0;
}

@-webkit-keyframes bounce {
	0% { -webkit-transform: translatey(0); }
	25% { -webkit-transform: translatey(-5px); }
	50% { -webkit-transform: translatey(0); }
	75% { -webkit-transform: translatey(-2px); }
	100% { -webkit-transform: translatey(0); }
}

/* General Layout
-------------------------------------------------------------- */
.right { float: right; }
.left { float: left; }

/* Selection */
::-moz-selection{ background: #eee; color: #444; text-shadow: none; }
::selection { background: #eee; color: #444; text-shadow: none; }

body {
	margin: 0 auto;
	max-width: 600px;
	background: #E4E8EC;
	color: #6C7F93;
	font: normal 15px/1.5 'Helvetica', sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

body::after {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 200px;
	background: #359567;
	content: '';
}

footer {
	margin: 20px 0;
	height: 32px;
	font-size: 12px;
}

footer nav a {
	padding: 5px 25px;
	border: 1px solid #C9D0D9;
	border-radius: 5px;
	color: #ABB6C4;
	text-shadow: 0px 0px 1px #F9FAFB;
}

footer nav a:hover {
	margin-top: -3px;
	border-bottom: 3px solid #1B583B;
	background: #359567;
	color: white;
	text-shadow: none;
}

footer nav a:active {
	margin-top: -1px;
	border: 1px solid #dbe0e6;
}

header {
	margin: 50px;
	height: 32px;
}

header ul {
	float: right;
	margin-top: 5px;
}

header li {
	display: inline-block;
	margin: 0 5px;
}

header a {
	display: inline-block;
	fill: #276648;
}

header a:hover {
	fill: #fff;
	-webkit-animation: bounce .5s ease-out;
}

article {
	margin: 30px 0;
	padding: 40px 50px;
	border-radius: 3px;
	background: #FFF;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
}

aside {
	margin: 0 10px;
}

h1 {
	margin-bottom: 15px;
	color: #444;
	font: 700 25px/1.4 'Roboto Condensed', sans-serif;
}

a, a:hover, a:hover h1 {
	color: #359567;
}

h2, h3 {
	margin-bottom: 10px;
	color: #555;
	font: 15px/1.3 sans-serif;
	font-weight: bold;
}

p, ol, ul {
	margin: 20px 0;
}

a, h1 {
	text-decoration: none;
	font-weight: bold;
	-webkit-transition: 0.1s ease all;
}

div a {
	padding: 2px 4px;
	background: #9EDDBF;
	color: #fff;
	font-weight: bold;
	font-size: .8em;
}

div a:hover {
	box-shadow: 2px 2px 0 #71A78D; /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
	color: #406F58;
}

div img {
	margin: 20px -50px;
	width: 600px;
	width: calc(100% + 100px);
	height: auto;
}

.highlight {
	margin: 20px -50px;
	padding: 20px 40px;
	font: 13px monospace;
	overflow: scroll;
}

small, small a {
	color: #C3CCD5;
	fill: #C3CCD5;
}

.video-iframe {
    margin: 0 -50px;
}

.video {
    display: block;
    margin: 20px -50px;
    max-width: 600px;
    padding-bottom: 67%;
    position: relative;
    background: #9EDDBF;
    background-size: 100%;

    svg {
        position: absolute;
        z-index: 1;
        top: 50%;
        left:50%;
        width: 50px;
        height: 50px;
        margin-top: -25px;
        margin-left: -25px;
        fill: white;
    }

    img {
        width: 100%;
        opacity: 0.5;
        display: block;
    }
}

.video:hover {
    box-shadow: none;
}

/* Fonts (Icon)
-------------------------------------------------------------- */
header .icon {
  padding: 3px;
  width: 15px;
  height: 100%;
}

small .icon {
	padding-right: 10px;
	margin-right: 10px;
	border-right: 1px solid #F0F2F5;
	width: 15px;
	height: 100%;
}

@media (max-width: 600px) {
	article {
		border-radius: 0;
	}
}

/* Syntax Pygments (Theme: Tango)
-------------------------------------------------------------- */
.highlight .hll { background-color: #ffffcc; }
.highlight  { background: #f8f8f8; }
.highlight .c { color: #8f5902; font-style: italic; } /* Comment */
.highlight .err { border: 1px solid #ef2929; color: #a40000; } /* Error */
.highlight .g { color: #000000; } /* Generic */
.highlight .k { color: #204a87; font-weight: bold; } /* Keyword */
.highlight .l { color: #000000; } /* Literal */
.highlight .n { color: #000000; } /* Name */
.highlight .o { color: #ce5c00; font-weight: bold; } /* Operator */
.highlight .x { color: #000000; } /* Other */
.highlight .p { color: #000000; font-weight: bold; } /* Punctuation */
.highlight .cm { color: #8f5902; font-style: italic; } /* Comment.Multiline */
.highlight .cp { color: #8f5902; font-style: italic; } /* Comment.Preproc */
.highlight .c1 { color: #8f5902; font-style: italic; } /* Comment.Single */
.highlight .cs { color: #8f5902; font-style: italic; } /* Comment.Special */
.highlight .gd { color: #a40000; } /* Generic.Deleted */
.highlight .ge { color: #000000; font-style: italic; } /* Generic.Emph */
.highlight .gr { color: #ef2929; } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold; } /* Generic.Heading */
.highlight .gi { color: #00A000; } /* Generic.Inserted */
.highlight .go { color: #000000; font-style: italic; } /* Generic.Output */
.highlight .gp { color: #8f5902; } /* Generic.Prompt */
.highlight .gs { color: #000000; font-weight: bold; } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold; } /* Generic.Subheading */
.highlight .gt { color: #a40000; font-weight: bold; } /* Generic.Traceback */
.highlight .kc { color: #204a87; font-weight: bold; } /* Keyword.Constant */
.highlight .kd { color: #204a87; font-weight: bold; } /* Keyword.Declaration */
.highlight .kn { color: #204a87; font-weight: bold; } /* Keyword.Namespace */
.highlight .kp { color: #204a87; font-weight: bold; } /* Keyword.Pseudo */
.highlight .kr { color: #204a87; font-weight: bold; } /* Keyword.Reserved */
.highlight .kt { color: #204a87; font-weight: bold; } /* Keyword.Type */
.highlight .ld { color: #000000; } /* Literal.Date */
.highlight .m { color: #0000cf; font-weight: bold; } /* Literal.Number */
.highlight .s { color: #4e9a06; } /* Literal.String */
.highlight .na { color: #c4a000; } /* Name.Attribute */
.highlight .nb { color: #204a87; } /* Name.Builtin */
.highlight .nc { color: #000000; } /* Name.Class */
.highlight .no { color: #000000; } /* Name.Constant */
.highlight .nd { color: #5c35cc; font-weight: bold; } /* Name.Decorator */
.highlight .ni { color: #ce5c00; } /* Name.Entity */
.highlight .ne { color: #cc0000; font-weight: bold; } /* Name.Exception */
.highlight .nf { color: #000000; } /* Name.Function */
.highlight .nl { color: #f57900; } /* Name.Label */
.highlight .nn { color: #000000; } /* Name.Namespace */
.highlight .nx { color: #000000; } /* Name.Other */
.highlight .py { color: #000000; } /* Name.Property */
.highlight .nt { color: #204a87; font-weight: bold; } /* Name.Tag */
.highlight .nv { color: #000000; } /* Name.Variable */
.highlight .ow { color: #204a87; font-weight: bold; } /* Operator.Word */
.highlight .w { color: #f8f8f8; text-decoration: underline; } /* Text.Whitespace */
.highlight .mf { color: #0000cf; font-weight: bold; } /* Literal.Number.Float */
.highlight .mh { color: #0000cf; font-weight: bold; } /* Literal.Number.Hex */
.highlight .mi { color: #0000cf; font-weight: bold; } /* Literal.Number.Integer */
.highlight .mo { color: #0000cf; font-weight: bold; } /* Literal.Number.Oct */
.highlight .sb { color: #4e9a06; } /* Literal.String.Backtick */
.highlight .sc { color: #4e9a06; } /* Literal.String.Char */
.highlight .sd { color: #8f5902; font-style: italic; } /* Literal.String.Doc */
.highlight .s2 { color: #4e9a06; } /* Literal.String.Double */
.highlight .se { color: #4e9a06; } /* Literal.String.Escape */
.highlight .sh { color: #4e9a06; } /* Literal.String.Heredoc */
.highlight .si { color: #4e9a06; } /* Literal.String.Interpol */
.highlight .sx { color: #4e9a06; } /* Literal.String.Other */
.highlight .sr { color: #4e9a06; } /* Literal.String.Regex */
.highlight .s1 { color: #4e9a06; } /* Literal.String.Single */
.highlight .ss { color: #4e9a06; } /* Literal.String.Symbol */
.highlight .bp { color: #3465a4; } /* Name.Builtin.Pseudo */
.highlight .vc { color: #000000; } /* Name.Variable.Class */
.highlight .vg { color: #000000; } /* Name.Variable.Global */
.highlight .vi { color: #000000; } /* Name.Variable.Instance */
.highlight .il { color: #0000cf; font-weight: bold; } /* Literal.Number.Integer.Long */
