/**
 * Version:     2
 * Author:      Robert Rhoades
 * Author URL:  http://studioromeo.co.uk
*/

@charset "UTF-8";

/* Reset
-------------------------------------------------------------- */
* {
	border:0;
	margin:0;
	padding:0;
}

/* General Layout
-------------------------------------------------------------- */

header ul {
	float: right;
	margin-top: 5px;
}

header li {
	display: inline-block;
	margin-left: 10px;
}

header a {
	color: #276648;
	font-size: 16px;
}

header a:hover {
	color: #fff;
}

footer {
	margin: 20px 0;
	clear: both;
}

.highlight {
	padding: 20px 50px;
	margin: 20px -50px;
	margin-bottom: 20px;
	overflow: auto;
	font-size: 13px;
	font-family: monospace;
}

/* Responsive Embeds */
.embed-container {
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.right { float: right; }
.left { float: left; }

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}

/* Selection */
::-moz-selection{ background: #eee; color: #444; text-shadow: none; }
::selection { background: #eee; color: #444; text-shadow: none; }


/* Typography
-------------------------------------------------------------- */
body {
	color: #999;
	font: normal 15px/1.5 'Helvetica' sans-serif;
	width: 600px;
	margin: 0 auto;
	background: #E4E8EC;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

footer a {
	border: 1px solid #DBE0E6;
	padding: 5px 25px;
	border-radius: 5px;
	color: #C3CCD5;
	text-shadow: 0px 0px 1px hsl(210, 17%, 98%);
}

footer a:hover {
	background: #359567;
	border-bottom: 3px solid #1B583B;
	color: white;
	margin-top: -3px;
	text-shadow: none;
}

body::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: block;
	width: 100%;
	height: 200px;
	z-index: -1;
	background: #359567;
}

header {
	margin: 50px 0;
}

#logo {
	margin-left: 50px;
}

#logo:hover {
	-webkit-transform: translatey(15px);
}

article {
	background: white;
	border-radius: 3px;
	padding: 40px 50px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18);
	margin: 30px 0;
}

h1 {
	color: #444;
  font: 700 25px/1.4 'Roboto Condensed', sans-serif;
  margin-bottom: 15px;
}

h1 a { border: 0; }

a:hover h1 { color: #359567; }

h2, h3 {
	font: 15px/1.3 sans-serif;
	color: #555;
	font-weight: bold;
	margin-bottom: 10px;
}

p, ol, ul { margin: 20px 0; }

em { font-style: italic; }
strong { font-weight: 700; }

a {
	text-decoration: none;
	font-weight: bold;
	-webkit-transition: 0.1s ease all;
	-moz-transition: 0.1s ease all;
	transition: 0.1s ease all;
}

section a {
	color: #fff;
	background: #9EDDBF;

	padding: 2px 4px;
	font-size: .8em;
	font-weight: bold;
}

header img {
	width: 35px;
}

section a:hover { color: #406F58; -webkit-box-shadow: 2px 2px 0 #71A78D; border-color: #139DFF; -webkit-animation-name: super-rainbow2, super-rainbow2-hover; }

section img { margin: 20px -50px; width: 600px; }
/*img { max-width: 100%; border: 1px solid #eee; padding: 8px; border-radius: 1px; box-sizing: border-box; }*/

aside ul a:hover, aside ol a:hover { color: #000; }

footer { font-size: 12px; text-align: center; }

footer img {
	margin:0;
	margin-left: -16px;
	opacity: .1;
	position: absolute;
	left: 50%;
}

time {
	font-size: 12px;
	color: #ccc;
	float: right;
	text-align: right;
}


/* Fonts (Icon)
-------------------------------------------------------------- */
@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot");
  src: url("../font/fontello.eot?#iefix") format('embedded-opentype'), url("../font/fontello.woff") format('woff'), url("../font/fontello.ttf") format('truetype'), url("../font/fontello.svg#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  opacity: 0.7;
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
/* fix buttons height */
  line-height: 1em;
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
}

.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-github:before { content: '\f307'; } /* '' */
.icon-google-circles:before { content: '\f310'; } /* '' */
.icon-lastfm:before { content: '\f318'; } /* '' */


















/* Media Queries
-------------------------------------------------------------- */
@media (max-width: 480px) {

 aside {
 	width: 84%;
 	padding: 0 8%;
 	text-align: center;
 	margin-bottom: 20px;
 	position: relative;
 }
 body {width: auto; background-size: 178.5px; margin-top: 50px; }

 aside ul, aside ol, aside p { display: none; }

 section {
 	width: 84%;
 	padding: 0 8%;
 	margin: 0;
 	float: none;
 }

 section.animate {
 	-webkit-animation: none;
 }

 article {
 	margin-bottom: 30px;
 }

 img {max-width: 100%; margin: 20px 0;}

 h1 {font-size: 22px; margin-bottom: 10px; line-height: 1.4;}
 h2, h3 { font-size: 14px; margin-bottom: 10px; line-height: 1.4;}

}

@media print {

	body { color: #222; margin-top: 50pt; }
	h1,h2,h3 { color: #000; }
	aside { display: none; }

	section {
		float: none;
		width: 80%;
		margin: 0 auto;
	}

	p a[href^="http://"]:after {
		content: " (" attr(href) ")";
		font-size: 90%;
	}

}

/* Syntax Pygments (Theme: Tango)
-------------------------------------------------------------- */
.highlight .hll { background-color: #ffffcc }
.highlight  { background: #f8f8f8; }
.highlight .c { color: #8f5902; font-style: italic } /* Comment */
.highlight .err { color: #a40000; border: 1px solid #ef2929 } /* Error */
.highlight .g { color: #000000 } /* Generic */
.highlight .k { color: #204a87; font-weight: bold } /* Keyword */
.highlight .l { color: #000000 } /* Literal */
.highlight .n { color: #000000 } /* Name */
.highlight .o { color: #ce5c00; font-weight: bold } /* Operator */
.highlight .x { color: #000000 } /* Other */
.highlight .p { color: #000000; font-weight: bold } /* Punctuation */
.highlight .cm { color: #8f5902; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #8f5902; font-style: italic } /* Comment.Preproc */
.highlight .c1 { color: #8f5902; font-style: italic } /* Comment.Single */
.highlight .cs { color: #8f5902; font-style: italic } /* Comment.Special */
.highlight .gd { color: #a40000 } /* Generic.Deleted */
.highlight .ge { color: #000000; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #ef2929 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #000000; font-style: italic } /* Generic.Output */
.highlight .gp { color: #8f5902 } /* Generic.Prompt */
.highlight .gs { color: #000000; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #a40000; font-weight: bold } /* Generic.Traceback */
.highlight .kc { color: #204a87; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #204a87; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #204a87; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #204a87; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #204a87; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #204a87; font-weight: bold } /* Keyword.Type */
.highlight .ld { color: #000000 } /* Literal.Date */
.highlight .m { color: #0000cf; font-weight: bold } /* Literal.Number */
.highlight .s { color: #4e9a06 } /* Literal.String */
.highlight .na { color: #c4a000 } /* Name.Attribute */
.highlight .nb { color: #204a87 } /* Name.Builtin */
.highlight .nc { color: #000000 } /* Name.Class */
.highlight .no { color: #000000 } /* Name.Constant */
.highlight .nd { color: #5c35cc; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #ce5c00 } /* Name.Entity */
.highlight .ne { color: #cc0000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #000000 } /* Name.Function */
.highlight .nl { color: #f57900 } /* Name.Label */
.highlight .nn { color: #000000 } /* Name.Namespace */
.highlight .nx { color: #000000 } /* Name.Other */
.highlight .py { color: #000000 } /* Name.Property */
.highlight .nt { color: #204a87; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #000000 } /* Name.Variable */
.highlight .ow { color: #204a87; font-weight: bold } /* Operator.Word */
.highlight .w { color: #f8f8f8; text-decoration: underline } /* Text.Whitespace */
.highlight .mf { color: #0000cf; font-weight: bold } /* Literal.Number.Float */
.highlight .mh { color: #0000cf; font-weight: bold } /* Literal.Number.Hex */
.highlight .mi { color: #0000cf; font-weight: bold } /* Literal.Number.Integer */
.highlight .mo { color: #0000cf; font-weight: bold } /* Literal.Number.Oct */
.highlight .sb { color: #4e9a06 } /* Literal.String.Backtick */
.highlight .sc { color: #4e9a06 } /* Literal.String.Char */
.highlight .sd { color: #8f5902; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #4e9a06 } /* Literal.String.Double */
.highlight .se { color: #4e9a06 } /* Literal.String.Escape */
.highlight .sh { color: #4e9a06 } /* Literal.String.Heredoc */
.highlight .si { color: #4e9a06 } /* Literal.String.Interpol */
.highlight .sx { color: #4e9a06 } /* Literal.String.Other */
.highlight .sr { color: #4e9a06 } /* Literal.String.Regex */
.highlight .s1 { color: #4e9a06 } /* Literal.String.Single */
.highlight .ss { color: #4e9a06 } /* Literal.String.Symbol */
.highlight .bp { color: #3465a4 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #000000 } /* Name.Variable.Class */
.highlight .vg { color: #000000 } /* Name.Variable.Global */
.highlight .vi { color: #000000 } /* Name.Variable.Instance */
.highlight .il { color: #0000cf; font-weight: bold } /* Literal.Number.Integer.Long */
