/**
 * Version:     1
 * Author:      Robert Rhoades
 * Author URL:  http://studioromeo.co.uk
*/

@charset "UTF-8";

/* Reset
-------------------------------------------------------------- */
* {border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;margin:0;padding:0;}
* { -webkit-font-smoothing: antialiased; }

/* General Layout
-------------------------------------------------------------- */
section {
	margin-right: 350px;
	padding: 50px;
}

aside {
	width: 175px;
	margin-right: 75px;
	margin-top: 10px;
	text-align: right;
	position: absolute;
}

aside p {
	font-size: 1.1em;
}

aside ul {
	list-style: none;
	font-size: 1.2em;
}

aside ol {
	margin-top: 120px;
}

aside li {
	display: inline-block;
	margin-left: 10px;
}

aside ul a, aside ol li a {
	text-decoration: none;
	border: 0;
	color: #aaa;
}

section {
}

section.animate {
	-webkit-animation: scroll-bounce .65s;
}

article {
	/*margin-bottom: 50px;*/
	/*border-bottom: 1px dashed #DDD;*/
}

footer {
	margin: 20px 0;
	clear: both;
}

.highlight {
	padding: 20px;
	margin-bottom: 20px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	overflow: auto;
}

/* Responsive Embeds */
.embed-container {
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#logo {
	background: #3FA9F5 url('/img/logo.png') no-repeat;
	background-size: 60px;
	display: inline-block;
	width: 60px;
	height: 55px;
	outline: 1px solid #fff;
	-webkit-animation: super-rainbow 40s infinite;
}

#logo a {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	height: 100%;
	display: block;
	border:0;
	background: #139DFF url('/img/logo.png') no-repeat;
	background-size: 60px;
	opacity: 0;
	-webkit-transition: opacity .2s ease;
}
#logo a:hover { opacity: 1; }

.right { float: right; }
.left { float: left; }

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}

/* Selection */
::-moz-selection{ background: #eee; color: #444; text-shadow: none; }
::selection { background: #eee; color: #444; text-shadow: none; }


/* Typography
-------------------------------------------------------------- */
body {
	color: #777;
	font: normal 15px/1.5 'Helvetica' sans-serif;
	width: 600px;
	margin: 0 auto;
	background: #E4E8EC;
	padding-top: 120px;
}

body::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: block;
	width: 100%;
	height: 200px;
	z-index: -1;
	background: #359567;
}

article {
	background: white;
	border-radius: 3px;
	padding: 40px 35px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18);
	margin: 30px 0;
}

h1 {
	color: #222;
  font: 700 42px/1.3 'Arvo', sans-serif;
  margin-bottom: 20px;
}

h1 a { border: 0; }

h2 {
	font: 700 25px/1.4 'Roboto Condensed' sans-serif;
	color: #444;
	/*text-transform: uppercase;*/
	/*text-align: center;;*/
	margin-bottom: 15px;
}

/*h3 {
	font: 700 22px/1.3 'Arvo', sans-serif;
	margin-bottom: 10px;
}*/

p, ol, ul { margin: 10px 0; }

em { font-style: italic; }
strong { font-weight: 700; }

a {
	color: #333332;
	text-decoration: none;
	/*border-bottom: 1px solid #3fa9f5;
	-webkit-transition: 0.1s ease all;
	-moz-transition: 0.1s ease all;
	transition: 0.1s ease all;*/

	/*-webkit-animation: super-rainbow2 40s infinite;*/
}

a:hover { color: #139DFF; border-color: #139DFF; -webkit-animation-name: super-rainbow2, super-rainbow2-hover; }

img { margin: 20px -35px; }
/*img { max-width: 100%; border: 1px solid #eee; padding: 8px; border-radius: 1px; box-sizing: border-box; }*/

aside ul a:hover, aside ol a:hover { color: #000; }

footer { font-size: 12px; text-align: center; }

footer img {
	margin:0;
	margin-left: -16px;
	opacity: .1;
}


/* Fonts (Icon)
-------------------------------------------------------------- */
@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot");
  src: url("../font/fontello.eot?#iefix") format('embedded-opentype'), url("../font/fontello.woff") format('woff'), url("../font/fontello.ttf") format('truetype'), url("../font/fontello.svg#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  opacity: 0.7;
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
/* fix buttons height */
  line-height: 1em;
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
}

.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-github:before { content: '\f307'; } /* '' */
.icon-google-circles:before { content: '\f310'; } /* '' */
.icon-lastfm:before { content: '\f318'; } /* '' */

/* Animation
-------------------------------------------------------------- */
@-webkit-keyframes super-rainbow {
  0%   { background-color: #3FA9F5; } /* blue */
  25%  { background-color: #93278F; } /* purple */
  50%  { background-color: #ED1E79; } /* pink */
  75%  { background-color: #BDCCD4; } /* grey */
  100% { background-color: #3FA9F5; } /* blue */
}

@-webkit-keyframes super-rainbow2 {
  0%   { border-color: #3FA9F5; } /* blue */
  25%  { border-color: #93278F; } /* purple */
  50%  { border-color: #ED1E79; } /* pink */
  75%  { border-color: #BDCCD4; } /* grey */
  100% { border-color: #3FA9F5; } /* blue */
}

@-webkit-keyframes super-rainbow2-hover {
	0% { border-color: #139DFF; }
	100% { border-color: #139DFF; }
}

@-webkit-keyframes scroll-bounce {
	0% { -webkit-transform: translatey(1500px); opacity: 0; }
	60% { -webkit-transform: translatey(-35px); opacity: 1; }
	80% { -webkit-transform: translatey(15px); }
	100% { -webkit-transform: translatey(0); }
}

/* Media Queries
-------------------------------------------------------------- */
@media (max-width: 480px) {

 aside {
 	width: 84%;
 	padding: 0 8%;
 	text-align: center;
 	margin-bottom: 20px;
 	position: relative;
 }
 body {width: auto; background-size: 178.5px; margin-top: 50px; }

 aside ul, aside ol, aside p { display: none; }

 section {
 	width: 84%;
 	padding: 0 8%;
 	margin: 0;
 	float: none;
 }

 section.animate {
 	-webkit-animation: none;
 }

 article {
 	margin-bottom: 30px;
 }

 h1 {font-size: 22px; margin-bottom: 10px; line-height: 1.4;}
 h2, h3 { font-size: 14px; margin-bottom: 10px; line-height: 1.4;}

}

@media print {

	body { color: #222; margin-top: 50pt; }
	h1,h2,h3 { color: #000; }
	aside { display: none; }

	section {
		float: none;
		width: 80%;
		margin: 0 auto;
	}

	p a[href^="http://"]:after {
		content: " (" attr(href) ")";
		font-size: 90%;
	}

}

/* Syntax Pygments
-------------------------------------------------------------- */
.highlight .hll { background-color: #49483e }
.highlight  { background: #272822; color: #f8f8f2 }
.highlight .c { color: #75715e } /* Comment */
.highlight .err { color: #960050; background-color: #1e0010 } /* Error */
.highlight .k { color: #66d9ef } /* Keyword */
.highlight .l { color: #ae81ff } /* Literal */
.highlight .n { color: #f8f8f2 } /* Name */
.highlight .o { color: #f92672 } /* Operator */
.highlight .p { color: #f8f8f2 } /* Punctuation */
.highlight .cm { color: #75715e } /* Comment.Multiline */
.highlight .cp { color: #75715e } /* Comment.Preproc */
.highlight .c1 { color: #75715e } /* Comment.Single */
.highlight .cs { color: #75715e } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .kc { color: #66d9ef } /* Keyword.Constant */
.highlight .kd { color: #66d9ef } /* Keyword.Declaration */
.highlight .kn { color: #f92672 } /* Keyword.Namespace */
.highlight .kp { color: #66d9ef } /* Keyword.Pseudo */
.highlight .kr { color: #66d9ef } /* Keyword.Reserved */
.highlight .kt { color: #66d9ef } /* Keyword.Type */
.highlight .ld { color: #e6db74 } /* Literal.Date */
.highlight .m { color: #ae81ff } /* Literal.Number */
.highlight .s { color: #e6db74 } /* Literal.String */
.highlight .na { color: #a6e22e } /* Name.Attribute */
.highlight .nb { color: #f8f8f2 } /* Name.Builtin */
.highlight .nc { color: #a6e22e } /* Name.Class */
.highlight .no { color: #66d9ef } /* Name.Constant */
.highlight .nd { color: #a6e22e } /* Name.Decorator */
.highlight .ni { color: #f8f8f2 } /* Name.Entity */
.highlight .ne { color: #a6e22e } /* Name.Exception */
.highlight .nf { color: #a6e22e } /* Name.Function */
.highlight .nl { color: #f8f8f2 } /* Name.Label */
.highlight .nn { color: #f8f8f2 } /* Name.Namespace */
.highlight .nx { color: #a6e22e } /* Name.Other */
.highlight .py { color: #f8f8f2 } /* Name.Property */
.highlight .nt { color: #f92672 } /* Name.Tag */
.highlight .nv { color: #f8f8f2 } /* Name.Variable */
.highlight .ow { color: #f92672 } /* Operator.Word */
.highlight .w { color: #f8f8f2 } /* Text.Whitespace */
.highlight .mf { color: #ae81ff } /* Literal.Number.Float */
.highlight .mh { color: #ae81ff } /* Literal.Number.Hex */
.highlight .mi { color: #ae81ff } /* Literal.Number.Integer */
.highlight .mo { color: #ae81ff } /* Literal.Number.Oct */
.highlight .sb { color: #e6db74 } /* Literal.String.Backtick */
.highlight .sc { color: #e6db74 } /* Literal.String.Char */
.highlight .sd { color: #e6db74 } /* Literal.String.Doc */
.highlight .s2 { color: #e6db74 } /* Literal.String.Double */
.highlight .se { color: #ae81ff } /* Literal.String.Escape */
.highlight .sh { color: #e6db74 } /* Literal.String.Heredoc */
.highlight .si { color: #e6db74 } /* Literal.String.Interpol */
.highlight .sx { color: #e6db74 } /* Literal.String.Other */
.highlight .sr { color: #e6db74 } /* Literal.String.Regex */
.highlight .s1 { color: #e6db74 } /* Literal.String.Single */
.highlight .ss { color: #e6db74 } /* Literal.String.Symbol */
.highlight .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #f8f8f2 } /* Name.Variable.Class */
.highlight .vg { color: #f8f8f2 } /* Name.Variable.Global */
.highlight .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.highlight .il { color: #ae81ff } /* Literal.Number.Integer.Long */