<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />

        {% include 'meta.html' %}

        <link
            rel="alternate"
            type="application/atom+xml"
            title="Atom feed for studioromeo.co.uk"
            href="/feed.xml"
        />

        <link
            rel="icon"
            type="image/x-icon"
            href="/favicon.ico?v=1"
            sizes="any"
        />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg?v=1" />

        <link rel="stylesheet" href="/assets/css/main.css" />
        <title>
            {%- if title -%}{{ title }} | {{ site.title }} {%- else -%} {{
            site.title }} | {{ site.description}}{%- endif -%}
        </title>
    </head>
    <body>
        <header>
            <nav class="c-header">
                <a
                    class="c-header__logo"
                    href="/"
                    title="{{ site.author.name }}"
                >
                    {% include 'logo.svg' %}
                </a>
                <ul class="o-hor-nav">
                    <li class="o-hor-nav__item">
                        <a class="c-nav-item" href="{{ site.author.bluesky }}">
                            <svg
                                class="c-nav-item__icon"
                                width="32"
                                viewBox="0 0 600 530"
                                preserveAspectRatio="xMidYMin"
                            >
                                <title>Bluesky</title>
                                <use
                                    xlink:href="/img/assets/icons.svg#icon-bluesky"
                                ></use>
                            </svg>
                        </a>
                    </li>
                    <li class="o-hor-nav__item">
                        <a class="c-nav-item" href="{{ site.author.linkedin }}">
                            <svg
                                class="c-nav-item__icon"
                                width="32"
                                viewBox="0 0 600 530"
                                preserveAspectRatio="xMidYMin"
                            >
                                <title>LinkedIn</title>
                                <use
                                    xlink:href="/img/assets/icons.svg#icon-linkedin"
                                ></use>
                            </svg>
                        </a>
                    </li>
                    <li class="o-hor-nav__item">
                        <a class="c-nav-item" href="{{ site.author.github }}">
                            <svg
                                class="c-nav-item__icon"
                                width="32"
                                viewBox="0 0 32 32"
                                preserveAspectRatio="xMidYMin"
                            >
                                <title>Github</title>
                                <use
                                    xlink:href="/img/assets/icons.svg#icon-github"
                                ></use>
                            </svg>
                        </a>
                    </li>
                    <li class="o-hor-nav__item">
                        <a class="c-nav-item" href="/feed.xml">
                            <svg
                                class="c-nav-item__icon"
                                width="32"
                                viewBox="0 0 24 24"
                                preserveAspectRatio="xMidYMin"
                            >
                                <title>Atom Feed</title>
                                <use
                                    xlink:href="/img/assets/icons.svg#icon-atom"
                                ></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </nav>
        </header>

        <main>{{content}}</main>

        <script>
            document.body.addEventListener("click", function (e) {
                if (event.target.classList.contains("o-media")) {
                    e.preventDefault();
                    let f = document.createElement("iframe");
                    f.src = e.target.href + "?autoplay=1";
                    f.classList.add("o-media", "c-media--playing");
                    f.width = e.target.offsetWidth;
                    f.height = e.target.offsetHeight;
                    e.target.parentNode.insertBefore(f, e.target);
                    e.target.remove();
                }
            });
        </script>
    </body>
</html>
