<a
    title="Play Video"
    class="o-media c-media u-link-default"
    href="{{ src }}"
    {% if thumb %}
        style="background-image: url({{ thumb }})"
    {% endif %}
>
    <svg
        class="o-media__body c-media__play {% if include.thumb %} c-media__play--thumbnail{% endif %}"
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        viewBox="0 0 512 512"
    >
        <title>Play Video</title>
        <use xlink:href="/img/assets/icons.svg#icon-play"></use>
    </svg>
</a>
