---
layout: base
---

{% for page in paginator.posts %}
<article>
    <a href="{{ page.url }}" title="{{ page.title }}"><h1>{{ page.title }}</h1></a>

    <section>
        {{page.content}}
    </section>

    <small class="right">
        <a href="{{ page.url }}" title="Comment"><svg class="icon icon-bubbles" viewBox="0 0 36 32"><use xlink:href="#icon-bubbles"></use></svg></a>
        <time>{{ page.date | date: "%A, %d %B %Y" }}</time>
    </small>
</article>
{% endfor %}

<footer>
    <nav>
        {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
                <a href="/"  class="left">Newer</a>
            {% else %}
                <a href="/page{{paginator.previous_page}}" class="left">Newer</a>
            {% endif %}
        {% endif %}
        {% if paginator.next_page %}
            <a href="/page{{paginator.next_page}}" class="right">Older</a>
        {% endif %}
    </nav>
</footer>
