---
layout: default
---

{% for page in paginator.posts %}
<article class="c-article">
    <h1>
        <a class="u-link-default" href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a>
    </h1>
    {{page.content}}
    <footer class="c-article__footer c-meta">
        <time class="c-meta__item" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%A, %d %B %Y" }}</time>
    </footer>
</article>
{% endfor %}

<footer>
    <nav class="footer-nav">
        {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
                <a href="/" class="footer-nav__item" title="Newest">Newest</a>
            {% else %}
                <a href="/page{{paginator.previous_page}}" class="footer-nav__item" title="Newer">Newer</a>
            {% endif %}
        {% endif %}
        {% if paginator.next_page %}
            {% if paginator.next_page == paginator.total_pages %}
                <a href="/page{{paginator.next_page}}" class="footer-nav__item footer-nav__item--older" title="Oldest">Oldest</a>
            {% else %}
                <a href="/page{{paginator.next_page}}" class="footer-nav__item footer-nav__item--older" title="Older">Older</a>
            {% endif %}
        {% endif %}
    </nav>
</footer>
