body {
    background: $colour-grey;
    color: $colour-space-grey;
    font: normal #{$font-size} / #{$line-height} $font-family;
    margin: 0 auto;
    max-width: $container-width;
    text-rendering: optimizeLegibility;

    word-wrap: break-word;
    hyphens: auto;

    &::before {
        background: $colour-green;
        content: '';
        height: 12.5rem;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
    }
}

::selection {
    background: $colour-grey;
    color: $colour-space-grey-dark;
    text-shadow: none;
}
