body {
    background: $colour-background;
    color: $colour-text;
    font: normal #{$font-size} / #{$line-height} $font-family;
    hyphens: auto;
    margin: 0 auto;
    max-width: $container-width;
    text-rendering: optimizeLegibility;
    word-wrap: break-word;

    &::before {
        background: $colour-primary;
        content: '';
        height: 12.5rem;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
    }
}

::selection {
    background: $colour-background;
    color: $colour-text-dark;
    text-shadow: none;
}
