// This is our maximum level of specificity so !important is ok here
// scss-lint:disable ImportantRule
@media only screen
and (max-width : 600px) {
    .o-media,
    %o-media {
        margin-left: #{-$article-gutter-mobile} !important;
        margin-right: #{-$article-gutter-mobile} !important;
        width: calc(100% + #{$article-gutter-mobile * 2}) !important;
    }

    .c-article {
        border-radius: 0;
        padding-left: $article-gutter-mobile !important;
        padding-right: $article-gutter-mobile !important;
    }
}
