.c-article {
    background: $colour-cream;
    border-radius: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
    padding: 3rem $article-gutter 1.5rem;

    &__footer {
        text-align: right;
    }

    a:not(.u-link-default) {
        background: $colour-green-light;
        color: $colour-green-dark;
        font-size: .8em;
        font-weight: bold;
        padding: 2px 4px;

        &:hover,
        &:focus {
            box-shadow: 2px 2px 0 $colour-green;
            color: $colour-green;
        }
    }

    img:not(.emoji) {
        @extend %o-media;
    }

    @media screen and (max-width : $container-width) {
        border-radius: 0;
        padding-left: $article-gutter-mobile;
        padding-right: $article-gutter-mobile;
    }
}
