.c-nav-item {
    display: block;
    margin: 0 5px;
    padding: 5px;

    &__icon {
        display: block;
        fill: $colour-green-dark;
        width: 18px;
    }

    &:hover,
    &:focus {
        animation: bounce .5s ease-out;

        .c-nav-item__icon { // any way of getting & to work with this?
            fill: #fff;
        }
    }
}
