.footer-nav {
    display: flex;
    justify-content: space-around;
}

.footer-nav__item {
    font-weight: bold;
    margin: 0;
    position: relative;
    text-transform: uppercase;

    &::before {
        color: $colour-space-grey;
        content: attr(title);
        position: absolute;
        transition: transform 150ms ease-in-out, opacity 150ms ease-in-out;
    }

    &:hover,
    &:focus {
        color: $colour-cream;

        &::before {
            opacity: 0;
            transform: scale(.9);
        }
    }
}
