.c-header {
    display: flex;
    flex-flow: row wrap;
    place-content: center space-between;
    gap: 0.625rem;
    margin: 3.125rem;

    @media screen and (max-width : $container-width) {
        margin: 1.875rem;
    }

    &__logo {
        svg {
            display: block;
            width: 2.1875rem;
        }

        &:hover,
        &:focus {
            animation: bounce .5s ease-out;
        }
    }
}
