.footer-nav {
    display: flex;
    font-size: .8em;
    font-weight: normal;
    justify-content: space-between;
    margin: 20px 0;

    &__item {
        border: 1px solid $colour-sub-text;
        border-radius: 3px;
        color: $colour-text;
        padding: 2px 25px;
        transition: all .1s ease;

        &:hover,
        &:focus {
            background: $colour-highlight;
            border-bottom: 3px solid $colour-embossed;
            color: #fff;
            margin-top: -3px;
        }
    }
}
