.c-header {
    height: 32px;
    margin: 50px;

    &__logo {
        float: left;

        &:hover,
        &:focus {
            animation: bounce .5s ease-out;
        }
    }

    &__items {
        float: right;
        margin-top: 5px;
    }
}
