.c-media {
    align-items: center;
    background-color: $colour-primary-light;
    background-size: cover;
    display: flex;
    justify-content: center;

    // We need this to ensure the media container is always a certain
    // aspect ratio size without this the div collapses to it's content.
    &::before {
        content: '';
        padding-bottom: 62.5%;
    }

    &__play {
        fill: $colour-primary;
        width: 3.125rem;

        &--thumbnail {
            fill: rgba(255, 255, 255, .7);
            filter: drop-shadow(1px 1px 1px rgba(100, 100, 100, .7));
        }
    }

    &:hover .c-media__play {
        fill: $colour-primary-dark;

        &--thumbnail {
            fill: $colour-secondary;
        }
    }

    &--playing {
        padding: 0;
    }
}
