.c-article {
    background: $colour-cream;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
    overflow: hidden;
    padding: 3rem $article-gutter;

    > p:first-of-type {
        font-size: 1.2rem;
        line-height: 1.55;
        margin-top: #{$line-height * 2}rem;
    }

    &__header {
        .o-media {
            margin-bottom: #{$line-height * 1.5}rem;
            margin-top: -3rem;
        }

        &::after {
            background-color: $colour-green-light;
            content: ' ';
            display: block;
            height: 4px;
            margin-top: #{$line-height}rem;
            width: 15%;
        }
    }

    &__footer {
        text-align: right;
    }

    a:not(.u-link-default) {
        background: $colour-green-light;
        color: $colour-green-dark;
        font-size: .8em;
        font-weight: bold;
        padding: 2px 4px;

        &:hover,
        &:focus {
            box-shadow: 2px 2px 0 $colour-green;
            color: $colour-green;
        }
    }

    img:not(.emoji) {
        @extend %o-media;
    }

    @media screen and (max-width : $container-width) {
        border-radius: 0;
        padding-left: $article-gutter-mobile;
        padding-right: $article-gutter-mobile;
    }
}
