.c-nav-item {
    color: $colour-green-dark;
    display: block;
    margin: 0 5px;
    padding: 5px;

    &__icon {
        display: block;
        fill: currentColor;
        width: 18px;
    }

    &:hover,
    &:focus {
        animation: bounce .5s ease-out;
        color: #fff;
    }
}
