main {
    margin-bottom: #{$line-height}em;
}

main * + * {
    margin-top: #{$line-height}em;
}

ul,
ol {
    margin-left: #{$line-height}em;
}

li * {
    margin-top: 0;
}

li + li {
    margin-top: #{$line-height / 3}em;
}
