// Generic block used to push its content to the edge of the article
// Is also used by:
// - .highlight in component.syntax.scss
// - img:not(.emoji) in component.article.scss
.o-media,
%o-media {
    margin: #{$article-gutter / 2} #{-$article-gutter};

    @media screen and (max-width : $container-width) {
        margin: #{$article-gutter-mobile / 2} #{-$article-gutter-mobile};
        width: calc(100% + #{$article-gutter-mobile * 2});
    }
}
