// Generic block used to push its content to the edge of the article
// Is also used by:
// - .highlight in component.syntax.scss
// - img:not(.emoji) in component.article.scss
.o-media,
%o-media {
    display: block;
    margin-left: #{-$article-gutter};
    margin-right: #{-$article-gutter};
    width: calc(100% + #{$article-gutter * 2});
}
