.o-media {
    display: block;
    margin-left: #{-$article-gutter};
    margin-right: #{-$article-gutter};
    padding-bottom: 62.5%;
    position: relative;
    width: calc(100% + #{$article-gutter * 2});

    &__body {
        height: 50px;
        left: 50%;
        margin: -25px;
        position: absolute;
        top: 50%;
        width: 50px;
    }

    &--playing {
        padding: 0;
    }
}
