// Fonts
$font-size: 16px;
$line-height: 1.5;
$font-family: -apple-system, BlinkMacSystemFont, sans-serif;

// Colours
$colour-grey: #e4e8ec;
$colour-cream: #f8f8f8;

$colour-space-grey: #6c7f93;
$colour-space-grey-dark: darken($colour-space-grey, 20%);
$colour-space-grey-light: lighten($colour-space-grey, 20%);

$colour-green: #359567;
$colour-green-dark: darken($colour-green, 10%);
$colour-green-light: lighten($colour-green, 35%);

// Widths & Spacing
$container-width: 600px;
$paragraph-spacing: $font-size * $line-height;
$article-gutter: 50px;
$article-gutter-mobile: $article-gutter / 2;
