---
layout: default
---

<article class="c-article">
    <h1 title="{{ page.title }}">{{ page.title }}</h1>
    <div>
        {{content}}
    </div>
    <footer class="c-article__footer c-meta">
        Posted on <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%d %B %Y" }}</time>
    </footer>
</article>

<aside id="disqus_thread"></aside>
<script>
    (function(d,t) {var c=d.createElement(t);s=d.getElementsByTagName(t)[0];
    c.async=1;c.src='http://studioromeo.disqus.com/embed.js';
    s.parentNode.insertBefore(c,s)})(document,'script');
</script>
