<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.author.name }} - Developer</title>

	<meta name="author" content="{{ site.author.name }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!--[if lt IE 9]>
	<script src="/js/html5shiv.js"></script>
	<![endif]-->

	<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
	<link href='/css/style.css' rel='stylesheet'>
	<link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
	<header>
		<a href="/" title="{{ site.author.name }}" id="logo" class="left"><img src="http://localhost:4000/img/logo.png" alt="{{ site.author.name }}" /></a>
		<ul>
			<li><a href="{{ site.author.lastfm }}" class="icon-lastfm" id="lastfm"></a></li>
			<li><a href="{{ site.author.twitter }}" class="icon-twitter-bird" id="twitter"></a></li>
			<li><a href="{{ site.author.github }}" class="icon-github" id="github"></a></li>
			<li><a href="{{ site.author.google }}?rel=author" rel="author" class="icon-google-circles" id="google"></a></li>
		</ul>
	</header>

	{{content}}

	<footer>
		<nav>
			{% if paginator.previous_page %}
				{% if paginator.previous_page == 1 %}
					<a href="/"  class="left">Newer</a>
				{% else %}
					<a href="/page{{paginator.previous_page}}" class="left">Newer</a>
				{% endif %}
			{% endif %}
			{% if paginator.next_page %}
				<a href="/page{{paginator.next_page}}" class="right">Older</a>
			{% endif %}

			<a href="http://pages.github.com" title="Powered by Github"><img src="http://localhost:4000/img/cat.png" /></a>
		</nav>
	</footer>

	<script>
		var _gaq=[['_setAccount','{{ site.googleanalytics }}'],['_trackPageview']];
		(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
		g.async=1;g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
		s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>
</body>
</html>