<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.author.name }} - Developer</title>

    <meta name="author" content="{{ site.author.name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet'>
    <link href='/css/main.css?v={{ site.time | date: "%Y%m%d"}}' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
    {% include icons.svg %}

    <header>
        <nav>
            <a href="/" title="{{ site.author.name }}" id="logo" class="left">
                {% include logo.svg %}
            </a>
            <ul>
                <li><a href="{{ site.author.dribbble }}"><svg class="icon icon-dribbble" viewBox="0 0 32 32"><use xlink:href="#icon-dribbble"></use></svg></a></li>
                <li><a href="{{ site.author.twitter }}"><svg class="icon icon-twitter" viewBox="0 0 32 32"><use xlink:href="#icon-twitter"></use></svg></a></li>
                <li><a href="{{ site.author.github }}"><svg class="icon icon-github" viewBox="0 0 32 32"><use xlink:href="#icon-github"></use></svg></a></li>
            </ul>
        </nav>
    </header>

    {{content}}

    <script>
        var videos = document.getElementsByClassName('video');

        for (var i = 0; i < videos.length; i++) {
            videos[i].onclick = function () {
                var iframe = document.createElement("iframe");
                iframe.setAttribute("src", this.href + '?autoplay=1');
                iframe.setAttribute('frameborder', 0);
                iframe.setAttribute('allowfullscreen', true);
                iframe.setAttribute('width', '100%');
                this.parentNode.insertBefore(iframe, this);
                this.remove();

                return false;
            }
        };
    </script>

    <script>
        var _gaq=[['_setAccount','{{ site.googleanalytics }}'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.async=1;g.src='//www.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
</body>
</html>
