<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <meta name="author" content="{{ site.author.name }}">
    <meta name="description" content="Developer &amp; tea maker">
    <meta name="theme-color" content="#359567">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" as="style">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" media="print" onload="this.media='all'" />

    <link rel="alternate" type="application/atom+xml" title="Atom feed for studioromeo.co.uk" href="/feed.xml" />

    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.author.name }} - Developer</title>

    <style>
        {% capture include_to_scssify %}
            {% include main.scss %}
            {% endcapture %}
        {{ include_to_scssify | scssify }}
    </style>

    <noscript>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
    </noscript>

    <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
    <header>
        <nav class="c-header">
            <a class="c-header__logo" href="/" title="{{ site.author.name }}">
                {% include logo.svg %}
            </a>
            <ul class="o-hor-nav">
                <li class="o-hor-nav__item">
                    <a class="c-nav-item" href="{{ site.author.bluesky }}">
                        <svg class="c-nav-item__icon" width="32" viewBox="0 0 600 530" preserveAspectRatio="xMidYMin">
                            <title>Bluesky</title>
                            <use xlink:href="/img/icons.svg#icon-bluesky"></use>
                        </svg>
                    </a>
                </li>
                <li class="o-hor-nav__item">
                    <a class="c-nav-item" href="{{ site.author.linkedin }}">
                        <svg class="c-nav-item__icon" width="32" viewBox="0 0 600 530" preserveAspectRatio="xMidYMin">
                            <title>LinkedIn</title>
                            <use xlink:href="/img/icons.svg#icon-linkedin"></use>
                        </svg>
                    </a>
                </li>
                <li class="o-hor-nav__item">
                    <a class="c-nav-item" href="{{ site.author.github }}">
                        <svg class="c-nav-item__icon" width="32" viewBox="0 0 32 32" preserveAspectRatio="xMidYMin">
                            <title>Github</title>
                            <use xlink:href="/img/icons.svg#icon-github"></use>
                        </svg>
                    </a>
                </li>
                <li class="o-hor-nav__item">
                    <a class="c-nav-item" href="/feed.xml">
                        <svg class="c-nav-item__icon" width="32" viewBox="0 0 24 24" preserveAspectRatio="xMidYMin">
                            <title>Atom Feed</title>
                            <use xlink:href="/img/icons.svg#icon-atom"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        {{content}}
    </main>

    <script>
        document.body.addEventListener("click", function(e) {
            if (event.target.classList.contains("o-media")) {
                e.preventDefault();
                let f = document.createElement("iframe");
                f.src = e.target.href + '?autoplay=1';
                f.classList.add('o-media', 'c-media--playing');
                f.width = e.target.offsetWidth;
                f.height = e.target.offsetHeight;
                e.target.parentNode.insertBefore(f, e.target);
                e.target.remove();
            }
        });
    </script>
</body>
</html>
