<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- http://kihlstrom.com/2015/shrink-to-fit-no-fixes-zoom-problem-in-ios-9/ -->
    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="author" content="{{ site.author.name }}">
    <meta name="theme-color" content="#359567">

    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.author.name }} - Developer</title>

    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:700' rel='stylesheet'>

    <style>
        {% capture include_to_scssify %}
            {% include main.scss %}
            {% endcapture %}
        {{ include_to_scssify | scssify }}
    </style>

    <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
    <header>
        <nav class="c-header">
            <a class="c-header__logo" href="/" title="{{ site.author.name }}">
                {% include logo.svg %}
            </a>
            <ul class="o-hor-nav">
                <li class="o-hor-nav__item">
                    <a class="c-nav-item" href="{{ site.author.twitter }}">
                        <svg class="c-nav-item__icon" viewBox="0 0 32 32">
                            <title>Twitter</title>
                            <use xlink:href="/img/icons.svg#icon-twitter"></use>
                        </svg>
                    </a>
                </li>
                <li class="o-hor-nav__item">
                    <a class="c-nav-item" href="{{ site.author.github }}">
                        <svg class="c-nav-item__icon" viewBox="0 0 32 32">
                            <title>Github</title>
                            <use xlink:href="/img/icons.svg#icon-github"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    {{content}}

    <script>
        document.body.addEventListener("click", function(e) {
            if (event.target.classList.contains("o-media")) {
                e.preventDefault();
                let f = document.createElement("iframe");
                f.src = e.target.href + '?autoplay=1';
                f.classList.add('o-media', 'c-media--playing');
                f.width = e.target.offsetWidth;
                f.height = e.target.offsetHeight;
                e.target.parentNode.insertBefore(f, e.target);
                e.target.remove();
            }
        });
    </script>

    <script>
        var _gaq=[['_setAccount','{{ site.googleanalytics }}'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.async=1;g.src='//www.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
</body>
</html>
