<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- http://kihlstrom.com/2015/shrink-to-fit-no-fixes-zoom-problem-in-ios-9/ -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="author" content="{{ site.author.name }}">
    <meta name="theme-color" content="#359567">

    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.author.name }} - Developer</title>

    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:700' rel='stylesheet'>
    <link href='/css/main.css?v={{ site.time | date: "%s"}}' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
    <header class="c-header">
        <nav>
            <a class="c-header__logo" href="/" title="{{ site.author.name }}">
                {% include logo.svg %}
            </a>
            <ul class="c-header__items o-hor-nav">
                <li class="o-hor-nav__item">
                    <a class="c-nav-item" href="{{ site.author.twitter }}">
                        <svg class="c-nav-item__icon" viewBox="0 0 32 32">
                            <use xlink:href="/img/icons.svg#icon-twitter"></use>
                        </svg>
                    </a>
                </li>
                <li class="o-hor-nav__item">
                    <a class="c-nav-item" href="{{ site.author.github }}">
                        <svg class="c-nav-item__icon" viewBox="0 0 32 32">
                            <use xlink:href="/img/icons.svg#icon-github"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    {{content}}

    <script>
        var videos = document.getElementsByClassName('o-media');

        for (var i = 0; i < videos.length; i++) {
            videos[i].onclick = function () {
                var iframe = document.createElement("iframe");
                iframe.setAttribute("src", this.href + '?autoplay=1');
                iframe.setAttribute('frameborder', 0);
                iframe.setAttribute('class', 'o-media c-media--playing');
                iframe.setAttribute('width', this.offsetWidth);
                iframe.setAttribute('height', this.offsetHeight);
                this.parentNode.insertBefore(iframe, this);
                this.remove();

                return false;
            }
        };
    </script>

    <script>
        var _gaq=[['_setAccount','{{ site.googleanalytics }}'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.async=1;g.src='//www.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
</body>
</html>
