html {
    // font-size: 112.5%;
    font-size: 100%;
    background: var(--color-bg-page);
}

body {
    container-type: inline-size;

    color: var(--color-text-primary);
    font-family: var(--font-family);
    font-optical-sizing: auto;
    font-size: var(--step-0);
    line-height: var(--font-line-height);
    font-optical-sizing: auto;
    // font-variation-settings: "wdth" 100;
    margin: 0 auto;
    max-width: var(--size-container);
    text-rendering: optimizeLegibility;
    word-wrap: break-word;

    &::before {
        background: var(--color-bg-accent);
        content: "";
        height: 12.5rem;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
    }
}

::selection {
    background: var(--color-bg-page);
    color: var(--color-text-heading);
    text-shadow: none;
}
