.c-nav-item {
    color: var(--color-text-accent);
    display: block;
    padding: var(--spacing-sm);

    &__icon {
        display: block;
        fill: currentColor;
        width: 1.25rem;
    }

    &:hover,
    &:focus {
        animation: bounce 0.5s ease-out;
        color: var(--color-text-inverse);
    }
}
