.c-nav-item {
    color: $colour-green-dark;
    display: block;
    padding: .5rem;

    &__icon {
        display: block;
        fill: currentColor;
        width: 1.2rem;
    }

    &:hover,
    &:focus {
        animation: bounce .5s ease-out;
        color: $colour-cream;
    }
}
