.c-nav-item {
    color: $colour-green-dark;
    display: block;
    padding: 0.5rem;

    &__icon {
        display: block;
        fill: currentColor;
        width: 1rem;
    }

    &:hover,
    &:focus {
        animation: bounce 0.5s ease-out;
        color: $colour-cream;
    }
}
