.c-article {
    --article-gutter: calc(var(--size-gutter) / 2);

    background: var(--color-bg-surface);
    box-shadow: var(--shadow-card);
    padding: var(--spacing-xl) var(--article-gutter) var(--spacing-lg);

    h1 {
        margin-top: var(--spacing-md);
        margin-bottom: 2.25rem;
    }

    &__footer {
        text-align: right;
        margin-top: var(--spacing-xl);
    }

    a:not(.u-link-default) {
        background: var(--color-bg-accent-subtle);
        color: var(--color-text-accent);
        font-size: 0.8em;
        font-weight: bold;
        padding: 2px 4px;

        &:hover,
        &:focus {
            box-shadow: var(--shadow-accent);
            color: var(--color-bg-accent);
        }
    }

    picture {
        display: flex;
        justify-content: center;
        background: var(--color-bg-page);

        img {
            max-width: 100%;
            height: auto;
            display: block;
        }
    }

    @container (min-width:  #{$container-width}) {
        --article-gutter: var(--size-gutter);

        border-radius: var(--radius-md);
    }
}
