.c-header {
    display: flex;
    flex-flow: row wrap;
    grid-gap: 0.625rem;
    margin: 3.125rem;
    place-content: center space-between;

    @media screen and (max-width: $container-width) {
        margin: 1.875rem;
    }

    &__logo {
        svg {
            display: block;
            fill: $colour-cream;
            width: 2.1875rem;
        }

        &:hover,
        &:focus {
            animation: bounce 0.5s ease-out;
        }
    }
}
