.c-header {
    display: flex;
    flex-flow: row wrap;
    grid-gap: 0.625rem;
    margin: 1.875rem;
    place-content: center space-between;

    @container (min-width: #{$container-width}) {
        margin: 3.125rem;
    }

    &__logo {
        svg {
            display: block;
            fill: var(--color-icon-inverse);
            width: 2.1875rem;
        }

        &:hover,
        &:focus {
            animation: bounce 0.5s ease-out;
        }
    }
}
