main {
    margin-bottom: calc(var(--font-line-height) * 1em);

    * + * {
        margin-top: var(--spacing-md);
    }
}

ul,
ol {
    margin-left: calc(var(--font-line-height) * 1em);
}

li * {
    margin-top: 0;
}

li + li {
    margin-top: calc(var(--font-line-height) / 3 * 1em);
}
